*.py[cod]
assets/external/
.states
.web
*.db
# Entorno virtual
venv/

# Variables de entorno
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Reflex
.web/
.reflex/

# Editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
